@import url(reset.css);

body {
	width: 1440px;
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	line-height: 23px;
}

.content {
	font-family: 'Comic Sans MS', sans-serif;
}

.header {
	width: 1440px;
	height: 60px;
	background-color: red;
	line-height: 60px;
	color: white;
}

.block-one {
	margin: 52px 0px 52px 70px;
	display: inline-block;
	width: 400px;
	height: 800px;
	border: 5px solid orange;
	box-sizing: border-box;
	border-radius: 30px;
}
.block-two {
	margin: 52px 0px 52px 50px;
	display: inline-block;
	width: 400px;
	height: 800px;
	border: 5px solid orange;
	box-sizing: border-box;
	border-radius: 30px;
}

.block-three {
	margin: 52px 0px 52px 50px;
	display: inline-block;
	width: 400px;
	height: 800px;
	border: 5px solid orange;
	box-sizing: border-box;
	border-radius: 30px;
}

.block-heading {
	margin: 27px 0px 0px 33px;
	font-weight: bold;
}

.block-text {
	margin: 47px 0px 0px 33px;
}

.footer {
	width: 1440px;
	height: 60px;
	line-height: 60px;
	background-color: red;
	box-sizing: border-box;
	color: white;
}

.text-left {
	display: inline-block;
	font-weight: bold;
	margin-left: 20px;
}

.text-right {
	display: inline-block;
	font-weight: bold;
	float: right;
	margin-right: 20px;
}